In [272]:
import pandas as pd
import numpy as np

In [274]:
credit = pd.read_csv("credits.csv")

In [275]:
credit.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [276]:
movie = pd.read_csv("movies_metadata.csv", low_memory=False)

In [277]:
movie.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [278]:
import pickle

In [279]:
movie2 = pickle.load(open("movie_df.pkl","rb"))

In [280]:
movie2 = movie2[["title"]]

In [283]:
movie2 = movie2.drop_duplicates(subset="title", keep="first", inplace=False)

In [290]:
movie2

                                title
0                           Rocky III
1                               Greed
2                        American Pie
3                            My Tutor
4      Jay and Silent Bob Strike Back
...                               ...
43786                            8:46
43787                  Love Is a Ball
44294                           K-PAX
44347               Starship Troopers
44624                   Spirited Away

[2794 rows x 1 columns]

In [292]:
def compress(m1,m2):
    l1 = list(m2["title"])
    for i in m1['title']:
        if i not in l1:
            m1 = m1[m1["title"]!= i]
    return m1

In [294]:
movie = compress(movie,movie2)

In [426]:
movie = movie.drop_duplicates(subset="imdb_id", keep='first', inplace=False)

In [428]:
movie.shape

(3365, 5)

In [430]:
movie.columns

Index(['imdb_id', 'id', 'title', 'overview', 'genres'], dtype='object')

In [432]:
movie = movie[['imdb_id','id','title','overview','genres']]

In [434]:
movie.head(6)

,imdb_id,id,title,overview,genres
5,tt0113277,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
6,tt0114319,11860,Sabrina,An ugly duckling having undergone a remarkable...,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '..."
9,tt0113189,710,GoldenEye,James Bond must unmask the mysterious head of ...,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '..."
14,tt0112760,1408,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
15,tt0112641,524,Casino,The life of the gambling paradise – Las Vegas ...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
16,tt0114388,4584,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."

In [435]:
movie["id"] = pd.to_numeric(movie["id"], errors="coerce").astype("Int32")
credit["id"] = pd.to_numeric(credit["id"], errors="coerce").astype("Int32")

In [436]:
movie = movie.dropna(subset=["id"])
credit = credit.dropna(subset=["id"])

In [437]:
movies = pd.merge(movie,credit, on='id', how='inner')

In [438]:
movies.head(5)

,imdb_id,id,title,overview,genres,cast,crew
0,tt0113277,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
1,tt0114319,11860,Sabrina,An ugly duckling having undergone a remarkable...,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."
2,tt0113189,710,GoldenEye,James Bond must unmask the mysterious head of ...,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de..."
3,tt0112760,1408,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de..."
4,tt0112641,524,Casino,The life of the gambling paradise – Las Vegas ...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de..."

In [439]:
movies.shape

(3369, 7)

In [440]:
movies['imdb_id'].unique().shape

(3365,)

In [441]:
movies.drop_duplicates(subset='imdb_id', keep='first', inplace=False)

,imdb_id,id,title,overview,genres,cast,crew
0,tt0113277,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
1,tt0114319,11860,Sabrina,An ugly duckling having undergone a remarkable...,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."
2,tt0113189,710,GoldenEye,James Bond must unmask the mysterious head of ...,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de..."
3,tt0112760,1408,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de..."
4,tt0112641,524,Casino,The life of the gambling paradise – Las Vegas ...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de..."
...,...,...,...,...,...,...,...
3364,tt0061683,3104,Frankenstein Created Woman,A deformed tormented girl drowns herself after...,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...","[{'cast_id': 9, 'character': 'Baron Frankenste...","[{'credit_id': '52fe4386c3a36847f805ae49', 'de..."
3365,tt1047845,64197,Travelling with Pets,Plucked from an orphanage as a literal love sl...,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...","[{'cast_id': 2, 'character': 'Sergei', 'credit...","[{'credit_id': '52fe46cdc3a368484e0a475d', 'de..."
3366,tt2147597,98604,Cinderella,"Masha Krapivina - is yet beautiful, and not th...","[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'cast_id': 1001, 'character': 'Masha', 'cred...","[{'credit_id': '52fe4a1c9251416c750de11b', 'de..."
3367,tt0144020,52103,Pickpocket,Little pocket thief Wu never got away from the...,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...","[{'cast_id': 3, 'character': 'Xiao Wu', 'credi...","[{'credit_id': '52fe4819c3a36847f8157c9f', 'de..."
3368,tt0135453,49280,The One-Man Band,A band-leader has arranged seven chairs for th...,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...","[{'cast_id': 3, 'character': 'All the members ...","[{'credit_id': '52fe478dc3a36847f813bd6b', 'de..."

In [442]:
movies.head(5)

,imdb_id,id,title,overview,genres,cast,crew
0,tt0113277,949,Heat,"Obsessive master thief, Neil McCauley leads a ...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
1,tt0114319,11860,Sabrina,An ugly duckling having undergone a remarkable...,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."
2,tt0113189,710,GoldenEye,James Bond must unmask the mysterious head of ...,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de..."
3,tt0112760,1408,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de..."
4,tt0112641,524,Casino,The life of the gambling paradise – Las Vegas ...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de..."

In [443]:
movies.isnull().sum()

imdb_id      1
id           0
title        3
overview    28
genres       0
cast         0
crew         0
dtype: int64

In [444]:
movies = movies.dropna(subset=["overview","title","imdb_id"], inplace=False)

In [445]:
movies.isnull().sum()

imdb_id     0
id          0
title       0
overview    0
genres      0
cast        0
crew        0
dtype: int64

In [446]:
movies.shape

(3337, 7)

In [447]:
movie.iloc[0].genres

"[{'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}]"

In [448]:
import ast

In [449]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [450]:
movies["genres"]=movies["genres"].apply(convert)

In [451]:
movies["genres"]

0       [Action, Crime, Drama, Thriller]
1                      [Comedy, Romance]
2          [Adventure, Action, Thriller]
3                    [Action, Adventure]
4                         [Drama, Crime]
                      ...
3364           [Horror, Science Fiction]
3365                    [Romance, Drama]
3366                   [Comedy, Romance]
3367                    [Drama, Foreign]
3368         [Fantasy, Action, Thriller]
Name: genres, Length: 3337, dtype: object

In [452]:
movies.iloc[0].cast

'[{\'cast_id\': 25, \'character\': \'Lt. Vincent Hanna\', \'credit_id\': \'52fe4292c3a36847f80291f5\', \'gender\': 2, \'id\': 1158, \'name\': \'Al Pacino\', \'order\': 0, \'profile_path\': \'/ks7Ba8x9fJUlP9decBr6Dh5mThX.jpg\'}, {\'cast_id\': 26, \'character\': \'Neil McCauley\', \'credit_id\': \'52fe4292c3a36847f80291f9\', \'gender\': 2, \'id\': 380, \'name\': \'Robert De Niro\', \'order\': 1, \'profile_path\': \'/lvTSwUcvJRLAJ2FB5qFaukel516.jpg\'}, {\'cast_id\': 27, \'character\': \'Chris Shiherlis\', \'credit_id\': \'52fe4292c3a36847f80291fd\', \'gender\': 2, \'id\': 5576, \'name\': \'Val Kilmer\', \'order\': 2, \'profile_path\': \'/AlhPeiH8R4reMNGNQ9ag1FPbuW9.jpg\'}, {\'cast_id\': 28, \'character\': \'Nate\', \'credit_id\': \'52fe4292c3a36847f8029201\', \'gender\': 2, \'id\': 10127, \'name\': \'Jon Voight\', \'order\': 3, \'profile_path\': \'/c7BvyqlvqDkfkFqSBUCiR21fvTh.jpg\'}, {\'cast_id\': 29, \'character\': \'Michael Cheritto\', \'credit_id\': \'52fe4292c3a36847f8029205\', \'gender\': 2, \'id\': 3197, \'name\': \'Tom Sizemore\', \'order\': 4, \'profile_path\': \'/soINOuacuiThRb2LyPD4tTWve7C.jpg\'}, {\'cast_id\': 30, \'character\': \'Justine Hanna\', \'credit_id\': \'52fe4292c3a36847f8029209\', \'gender\': 1, \'id\': 6200, \'name\': \'Diane Venora\', \'order\': 5, \'profile_path\': \'/3k7w5Y7gTAxN1JML7jhN8F8rVrS.jpg\'}, {\'cast_id\': 31, \'character\': \'Eady\', \'credit_id\': \'52fe4292c3a36847f802920d\', \'gender\': 1, \'id\': 15851, \'name\': \'Amy Brenneman\', \'order\': 6, \'profile_path\': \'/xC408loYq7tQlkpS5YH68SoaDND.jpg\'}, {\'cast_id\': 32, \'character\': \'Charlene Shiherlis\', \'credit_id\': \'52fe4292c3a36847f8029211\', \'gender\': 1, \'id\': 15852, \'name\': \'Ashley Judd\', \'order\': 7, \'profile_path\': \'/3bgmRDt02iGFVjhqCqstVyEeiwG.jpg\'}, {\'cast_id\': 33, \'character\': \'Sergeant Drucker\', \'credit_id\': \'52fe4292c3a36847f8029215\', \'gender\': 2, \'id\': 34, \'name\': \'Mykelti Williamson\', \'order\': 8, \'profile_path\': \'/8TTxzpuvvpw2tB8xZBCDslYupNU.jpg\'}, {\'cast_id\': 38, \'character\': \'Lauren Gustafson\', \'credit_id\': \'52fe4292c3a36847f8029229\', \'gender\': 1, \'id\': 524, \'name\': \'Natalie Portman\', \'order\': 9, \'profile_path\': \'/1oEP6OyYZgyLubgJXifx2GO78c7.jpg\'}, {\'cast_id\': 35, \'character\': \'Bosko\', \'credit_id\': \'52fe4292c3a36847f802921d\', \'gender\': 2, \'id\': 15854, \'name\': \'Ted Levine\', \'order\': 10, \'profile_path\': \'/7O3vgqgicfNeGr3leC0qB074fjX.jpg\'}, {\'cast_id\': 39, \'character\': \'Kelso\', \'credit_id\': \'52fe4292c3a36847f802922d\', \'gender\': 2, \'id\': 119232, \'name\': \'Tom Noonan\', \'order\': 11, \'profile_path\': \'/cpINV4Q8IeVgSLyKz9ldzzAGr5n.jpg\'}, {\'cast_id\': 41, \'character\': \'Richard Torena\', \'credit_id\': \'52fe4292c3a36847f8029237\', \'gender\': 2, \'id\': 31004, \'name\': \'Tone Loc\', \'order\': 12, \'profile_path\': \'/o940ZhEYQYrOJdhRnmPrYoc9iOq.jpg\'}, {\'cast_id\': 42, \'character\': \'Alan Marciano\', \'credit_id\': \'52fe4292c3a36847f802923b\', \'gender\': 2, \'id\': 5587, \'name\': \'Hank Azaria\', \'order\': 13, \'profile_path\': \'/3vIdbP73nKnKpMAcgGWoALPF2JO.jpg\'}, {\'cast_id\': 34, \'character\': \'Detective Casals\', \'credit_id\': \'52fe4292c3a36847f8029219\', \'gender\': 2, \'id\': 15853, \'name\': \'Wes Studi\', \'order\': 14, \'profile_path\': \'/2b1hfAOoVjU7HoSbyHzGjl8DWs1.jpg\'}, {\'cast_id\': 36, \'character\': \'Donald Breedan\', \'credit_id\': \'52fe4292c3a36847f8029221\', \'gender\': 2, \'id\': 352, \'name\': \'Dennis Haysbert\', \'order\': 15, \'profile_path\': \'/mn5Nc5Q31GslpVVWs8p41W4TBma.jpg\'}, {\'cast_id\': 46, \'character\': \'Trejo\', \'credit_id\': \'52fe4292c3a36847f802924b\', \'gender\': 2, \'id\': 11160, \'name\': \'Danny Trejo\', \'order\': 16, \'profile_path\': \'/7b8cDfrmeheQbgryfCm7MeJOxxM.jpg\'}, {\'cast_id\': 47, \'character\': \'Hugh Benny\', \'credit_id\': \'52fe4292c3a36847f802924f\', \'gender\': 2, \'id\': 9290, \'name\': \'Henry Rollins\', \'order\': 17, \'profile_path\': \'/2E0cZdoJsdt1Lv4waG3s6fsfJeU.jpg\'}, {\'cast_id\': 37, \'character\': \'Roger Van Zant\', \'credit_id\': \'52fe4292c3a36847f8029225\', \'gender\': 2, \'id\': 886, \'name\': \'William Fichtner\', \'order\': 18, \'profile_path\': \'/apj1bgzZI2efSdJolfp6KjhG8CF.jpg\'}, {\'cast_id\': 43, \'character\': \'Waingro\', \'credit_id\': \'52fe4292c3a36847f802923f\', \'gender\': 2, \'id\': 34839, \'name\': \'Kevin Gage\', \'order\': 19, \'profile_path\': \'/egIApa0PPsHkAwrGnOAUtdqO6CQ.jpg\'}, {\'cast_id\': 44, \'character\': \'Elaine Cheritto\', \'credit_id\': \'52fe4292c3a36847f8029243\', \'gender\': 1, \'id\': 4158, \'name\': \'Susan Traylor\', \'order\': 20, \'profile_path\': \'/A3ZpoAui1ure4Nx2b83wUMI8lvv.jpg\'}, {\'cast_id\': 48, \'character\': \'Schwartz\', \'credit_id\': \'52fe4292c3a36847f8029253\', \'gender\': 2, \'id\': 86602, \'name\': \'Jerry Trimble\', \'order\': 21, \'profile_path\': \'/oDK7NCnz2z2BFV8YquEpj8PBwed.jpg\'}, {\'cast_id\': 50, \'character\': \'Albert Torena\', \'credit_id\': \'52fe4292c3a36847f802925b\', \'gender\': 2, \'id\': 158452, \'name\': \'Ricky Harris\', \'order\': 22, \'profile_path\': \'/eJEzFSHTjGdUz1JDThdTR5C1Jrd.jpg\'}, {\'cast_id\': 54, \'character\': \'Dr. Bob\', \'credit_id\': \'52fe4292c3a36847f802926b\', \'gender\': 2, \'id\': 12799, \'name\': \'Jeremy Piven\', \'order\': 23, \'profile_path\': \'/qtho4ZUcValnVvscTGgyWfUr4VP.jpg\'}, {\'cast_id\': 55, \'character\': \'Ralph\', \'credit_id\': \'52fe4292c3a36847f802926f\', \'gender\': 2, \'id\': 3982, \'name\': \'Xander Berkeley\', \'order\': 24, \'profile_path\': \'/vlZ9FDMk2Xd1WHixPKxnheZoXgR.jpg\'}, {\'cast_id\': 51, \'character\': \'Anna Trejo\', \'credit_id\': \'52fe4292c3a36847f802925f\', \'gender\': 1, \'id\': 181343, \'name\': \'Begonya Plaza\', \'order\': 25, \'profile_path\': \'/2TtFPBtz0Bd3CXAc4W5K6zF66RY.jpg\'}, {\'cast_id\': 56, \'character\': \'Armoured Guard\', \'credit_id\': \'52fe4292c3a36847f8029273\', \'gender\': 2, \'id\': 81687, \'name\': \'Rick Avery\', \'order\': 26, \'profile_path\': \'/rXar2OrwkorJyQ9dRGf18zUEByW.jpg\'}, {\'cast_id\': 52, \'character\': "Hooker\'s Mother", \'credit_id\': \'52fe4292c3a36847f8029263\', \'gender\': 0, \'id\': 91756, \'name\': \'Hazelle Goodman\', \'order\': 27, \'profile_path\': \'/kTa2cn8cuJdxKJBqFnYHibIknI9.jpg\'}, {\'cast_id\': 53, \'character\': \'Timmons\', \'credit_id\': \'52fe4292c3a36847f8029267\', \'gender\': 2, \'id\': 160970, \'name\': \'Ray Buktenica\', \'order\': 28, \'profile_path\': \'/aMBLygqfsJv3QrBCvvZ7wMc3Ejq.jpg\'}, {\'cast_id\': 59, \'character\': \'Shooter at Drive-in\', \'credit_id\': \'52fe4292c3a36847f802927f\', \'gender\': 0, \'id\': 175600, \'name\': \'Max Daniels\', \'order\': 29, \'profile_path\': \'/5zjSVtxyDExuf1913re1lG3k0Q3.jpg\'}, {\'cast_id\': 60, \'character\': \'Driver at Drive-in\', \'credit_id\': \'52fe4292c3a36847f8029283\', \'gender\': 0, \'id\': 12879, \'name\': \'Vince Deadrick Jr.\', \'order\': 30, \'profile_path\': \'/z4HIKOQGQj8QXozFpQhj43xlmHm.jpg\'}, {\'cast_id\': 96, \'character\': \'Officer Bruce\', \'credit_id\': \'56be773e9251417359005063\', \'gender\': 2, \'id\': 9258, \'name\': \'Steven Ford\', \'order\': 31, \'profile_path\': \'/iw8CUyekmYkGwmg0bp7foY4KvrH.jpg\'}, {\'cast_id\': 97, \'character\': \'Claudia\', \'credit_id\': \'56be7769c3a36817f200506f\', \'gender\': 1, \'id\': 167501, \'name\': \'Farrah Forke\', \'order\': 32, \'profile_path\': \'/gmKm7TiZduyyaLlNgWnQEZHTc5Q.jpg\'}, {\'cast_id\': 99, \'character\': "Bosko\'s Date", \'credit_id\': \'56be794dc3a36818020054bd\', \'gender\': 1, \'id\': 95145, \'name\': \'Patricia Healy\', \'order\': 33, \'profile_path\': \'/RsHWe8vW3Hzbp8FeeEVqOD6Kux.jpg\'}, {\'cast_id\': 100, \'character\': \'Sergeant Heinz\', \'credit_id\': \'56be79839251417347004f69\', \'gender\': 2, \'id\': 58535, \'name\': \'Paul Herman\', \'order\': 34, \'profile_path\': \'/vaK8wxkMeKJdZEdGUufyV0Ma24M.jpg\'}, {\'cast_id\': 101, \'character\': \'Rachel\', \'credit_id\': \'56be79cec3a36817f200511b\', \'gender\': 1, \'id\': 161939, \'name\': \'Cindy Katz\', \'order\': 35, \'profile_path\': \'/eENk49BVUS9grR2ffwEsYh9Wl69.jpg\'}, {\'cast_id\': 102, \'character\': \'Captain Jackson\', \'credit_id\': \'56be79fa9251417344004ea0\', \'gender\': 0, \'id\': 6580, \'name\': \'Brian Libby\', \'order\': 36, \'profile_path\': \'/lvY7hpUtU12BUD8mwQqFymnsxFI.jpg\'}, {\'cast_id\': 104, \'character\': \'Harry Dieter\', \'credit_id\': \'56be7a8ac3a36817f200516d\', \'gender\': 2, \'id\': 95796, \'name\': \'Dan Martin\', \'order\': 37, \'profile_path\': \'/u24mFuqwEE7kguXK32SS1UzIQzJ.jpg\'}, {\'cast_id\': 109, \'character\': \'Bank Guard\', \'credit_id\': \'56be7bafc3a36817ef005294\', \'gender\': 0, \'id\': 166543, \'name\': \'Mario Roberts\', \'order\': 38, \'profile_path\': \'/TVlt1SNz2zoF2hTqY4HM3MnWHz.jpg\'}, {\'cast_id\': 110, \'character\': \'Armoured Truck Driver\', \'credit_id\': \'56be7c61c3a36817ef0052cf\', \'gender\': 0, \'id\': 43010, \'name\': \'Thomas Rosales, Jr.\', \'order\': 39, \'profile_path\': \'/ffDrcpKGvjPgpcjd0t9T6EtQ2hz.jpg\'}, {\'cast_id\': 112, \'character\': \'Hostage Girl\', \'credit_id\': \'56be7db1925141735600517b\', \'gender\': 1, \'id\': 37252, \'name\': \'Yvonne Zima\', \'order\': 40, \'profile_path\': \'/dWA4Hsq8kkFXlmWERCoAh1OqK5M.jpg\'}, {\'cast_id\': 116, \'character\': \'1st SIS Detective in the hallway (uncredited)\', \'credit_id\': \'56be7ed4c3a36817f9005000\', \'gender\': 0, \'id\': 1457709, \'name\': \'Mick Gould\', \'order\': 41, \'profile_path\': \'/6BcVGV4fUITs2jaThbOq4GHlAFU.jpg\'}, {\'cast_id\': 115, \'character\': \'Solenko, Restaurant Manager (uncredited)\', \'credit_id\': \'56be7e6e92514173590052b3\', \'gender\': 2, \'id\': 4971, \'name\': \'Bud Cort\', \'order\': 42, \'profile_path\': \'/mwCVkL9BG1ZCF9icbcKjE8TCS7H.jpg\'}, {\'cast_id\': 123, \'character\': \'Castilian Woman (uncredited)\', \'credit_id\': \'56be80ed925141735900535e\', \'gender\': 0, \'id\': 941147, \'name\': \'Viviane Vives\', \'order\': 43, \'profile_path\': \'/rGHOmMfoykUQJTnryRAl2t4XXG6.jpg\'}, {\'cast_id\': 45, \'character\': \'Lillian\', \'credit_id\': \'52fe4292c3a36847f8029247\', \'gender\': 1, \'id\': 17358, \'name\': \'Kim Staunton\', \'order\': 44, \'profile_path\': \'/9CJmJ5l7DZAtZvdbltalwoV2NfH.jpg\'}, {\'cast_id\': 49, \'character\': \'Construction Clerk\', \'credit_id\': \'52fe4292c3a36847f8029257\', \'gender\': 2, \'id\': 4790, \'name\': \'Martin Ferrero\', \'order\': 45, \'profile_path\': \'/gTIclBDE9q6TFmOx7JIn32zTaVk.jpg\'}, {\'cast_id\': 57, \'character\': "Children\'s Hospital Doctor", \'credit_id\': \'52fe4292c3a36847f8029277\', \'gender\': 0, \'id\': 1090464, \'name\': \'Brad Baldridge\', \'order\': 46, \'profile_path\': None}, {\'cast_id\': 58, \'character\': \'Dominick\', \'credit_id\': \'52fe4292c3a36847f802927b\', \'gender\': 0, \'id\': 1090465, \'name\': \'Andrew Camuccio\', \'order\': 47, \'profile_path\': None}, {\'cast_id\': 94, \'character\': \'Bartender\', \'credit_id\': \'56be231dc3a3681806004214\', \'gender\': 0, \'id\': 1576419, \'name\': \'Kenny Endoso\', \'order\': 48, \'profile_path\': None}, {\'cast_id\': 95, \'character\': "Casals\' Date", \'credit_id\': \'56be7708c3a36817f200504f\', \'gender\': 1, \'id\': 106714, \'name\': \'Kimberly Flynn\', \'order\': 49, \'profile_path\': None}, {\'cast_id\': 98, \'character\': \'Marcia Drucker\', \'credit_id\': \'56be77fcc3a36817ef005164\', \'gender\': 0, \'id\': 116153, \'name\': \'Niki Harris\', \'order\': 50, \'profile_path\': None}, {\'cast_id\': 103, \'character\': \'Armoured Guard\', \'credit_id\': \'56be7a30c3a36817f2005154\', \'gender\': 0, \'id\': 237923, \'name\': \'Bill McIntosh\', \'order\': 51, \'profile_path\': None}, {\'cast_id\': 105, \'character\': \'Basketball Player\', \'credit_id\': \'56be7aabc3a36817f40053ec\', \'gender\': 0, \'id\': 4047, \'name\': \'Rick Marzan\', \'order\': 52, \'profile_path\': None}, {\'cast_id\': 106, \'character\': "Children\'s Hospital Nurse", \'credit_id\': \'56be7aec9251417344004ee2\', \'gender\': 0, \'id\': 57347, \'name\': \'Terry Miller\', \'order\': 53, \'profile_path\': None}, {\'cast_id\': 107, \'character\': \'Detective\', \'credit_id\': \'56be7b44c3a368180200556a\', \'gender\': 0, \'id\': 1576553, \'name\': "Daniel O\'Haco", \'order\': 54, \'profile_path\': None}, {\'cast_id\': 111, \'character\': \'Prostitute\', \'credit_id\': \'56be7d28c3a368180200560d\', \'gender\': 1, \'id\': 218094, \'name\': \'Kai Soremekun\', \'order\': 55, \'profile_path\': None}, {\'cast_id\': 113, \'character\': \'Bar Couple (uncredited)\', \'credit_id\': \'56be7e1c9251411d27000305\', \'gender\': 0, \'id\': 1491009, \'name\': \'Peter Blackwell\', \'order\': 56, \'profile_path\': None}, {\'cast_id\': 114, \'character\': \'Restaurant Patron (uncredited)\', \'credit_id\': \'56be7e45c3a36817ef005374\', \'gender\': 0, \'id\': 1137847, \'name\': \'Trevor Coppola\', \'order\': 57, \'profile_path\': None}, {\'cast_id\': 118, \'character\': \'Police Woman (uncredited)\', \'credit_id\': \'56be7f699251417344005036\', \'gender\': 1, \'id\': 1504112, \'name\': \'Mary Kircher\', \'order\': 58, \'profile_path\': None}, {\'cast_id\': 119, \'character\': \'Grocery Store Employee (uncredited)\', \'credit_id\': \'56be7fbd925141734d005299\', \'gender\': 0, \'id\': 1504568, \'name\': \'Darin Mangan\', \'order\': 59, \'profile_path\': None}, {\'cast_id\': 120, \'character\': \'Cusamano (uncredited)\', \'credit_id\': \'56be8014c3a36817ef00540a\', \'gender\': 2, \'id\': 20625, \'name\': \'Robert Miranda\', \'order\': 60, \'profile_path\': None}, {\'cast_id\': 121, \'character\': \'Grocery Store Cop (uncredited)\', \'credit_id\': \'56be8053c3a36817f40055b3\', \'gender\': 2, \'id\': 1502517, \'name\': \'Manny Perry\', \'order\': 61, \'profile_path\': None}, {\'cast_id\': 122, \'character\': \'Waitress (uncredited)\', \'credit_id\': \'56be80a8925141734400508d\', \'gender\': 1, \'id\': 114625, \'name\': \'Iva Franks Singer\', \'order\': 62, \'profile_path\': None}, {\'cast_id\': 124, \'character\': \'Bank Guard (uncredited)\', \'credit_id\': \'56be8132925141735900536f\', \'gender\': 0, \'id\': 1576562, \'name\': \'Tim Werner\', \'order\': 63, \'profile_path\': None}, {\'cast_id\': 133, \'character\': \'Ellis (uncredited)\', \'credit_id\': \'56d48f67925141799e013151\', \'gender\': 2, \'id\': 1584544, \'name\': \'Philip Ettington\', \'order\': 64, \'profile_path\': None}]'

In [453]:
import ast

def convert2(obj):
    if isinstance(obj, str):
        try:
            obj = ast.literal_eval(obj)
        except ValueError:
            return None
    if isinstance(obj, list):
        L = []
        for item in obj:
            L.append(item)
        return L
    return obj

In [456]:
movies["cast"] = movies["cast"].apply(convert2)

In [457]:
movies["cast"]

0       [{'cast_id': 25, 'character': 'Lt. Vincent Han...
1       [{'cast_id': 1, 'character': 'Linus Larrabee',...
2       [{'cast_id': 1, 'character': 'James Bond', 'cr...
3       [{'cast_id': 1, 'character': 'Morgan Adams', '...
4       [{'cast_id': 4, 'character': 'Sam 'Ace' Rothst...
                              ...
3364    [{'cast_id': 9, 'character': 'Baron Frankenste...
3365    [{'cast_id': 2, 'character': 'Sergei', 'credit...
3366    [{'cast_id': 1001, 'character': 'Masha', 'cred...
3367    [{'cast_id': 3, 'character': 'Xiao Wu', 'credi...
3368    [{'cast_id': 3, 'character': 'All the members ...
Name: cast, Length: 3337, dtype: object

In [458]:
movies.iloc[0].crew

'[{\'credit_id\': \'52fe4292c3a36847f802916d\', \'department\': \'Directing\', \'gender\': 2, \'id\': 638, \'job\': \'Director\', \'name\': \'Michael Mann\', \'profile_path\': \'/nKmUpRpuQIsYubR7vIxVKhkbaTW.jpg\'}, {\'credit_id\': \'52fe4292c3a36847f8029173\', \'department\': \'Writing\', \'gender\': 2, \'id\': 638, \'job\': \'Screenplay\', \'name\': \'Michael Mann\', \'profile_path\': \'/nKmUpRpuQIsYubR7vIxVKhkbaTW.jpg\'}, {\'credit_id\': \'52fe4292c3a36847f8029179\', \'department\': \'Production\', \'gender\': 2, \'id\': 1254, \'job\': \'Producer\', \'name\': \'Art Linson\', \'profile_path\': \'/dEtVivCXxQBtIzmJcUNupT1AB4H.jpg\'}, {\'credit_id\': \'52fe4292c3a36847f802917f\', \'department\': \'Production\', \'gender\': 2, \'id\': 638, \'job\': \'Producer\', \'name\': \'Michael Mann\', \'profile_path\': \'/nKmUpRpuQIsYubR7vIxVKhkbaTW.jpg\'}, {\'credit_id\': \'52fe4292c3a36847f8029185\', \'department\': \'Sound\', \'gender\': 2, \'id\': 5581, \'job\': \'Original Music Composer\', \'name\': \'Elliot Goldenthal\', \'profile_path\': \'/mr1rr5bQySCwp564E1Ag363SgLH.jpg\'}, {\'credit_id\': \'52fe4292c3a36847f802918b\', \'department\': \'Camera\', \'gender\': 2, \'id\': 11099, \'job\': \'Director of Photography\', \'name\': \'Dante Spinotti\', \'profile_path\': \'/vIb3GU52BvSIQh1MXZRFDVRnqsm.jpg\'}, {\'credit_id\': \'52fe4292c3a36847f8029191\', \'department\': \'Editing\', \'gender\': 2, \'id\': 15840, \'job\': \'Editor\', \'name\': \'Pasquale Buba\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f8029197\', \'department\': \'Editing\', \'gender\': 0, \'id\': 15841, \'job\': \'Editor\', \'name\': \'William Goldenberg\', \'profile_path\': \'/eOgoea8HbZt2TfLn0tDNI1TepSN.jpg\'}, {\'credit_id\': \'52fe4292c3a36847f802919d\', \'department\': \'Editing\', \'gender\': 0, \'id\': 15842, \'job\': \'Editor\', \'name\': \'Dov Hoenig\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f80291a3\', \'department\': \'Editing\', \'gender\': 2, \'id\': 1047, \'job\': \'Editor\', \'name\': \'Tom Rolf\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f80291a9\', \'department\': \'Production\', \'gender\': 1, \'id\': 897, \'job\': \'Casting\', \'name\': \'Bonnie Timmermann\', \'profile_path\': \'/jM8QANtq0v7Eqy8ZYtKot27nsfK.jpg\'}, {\'credit_id\': \'52fe4292c3a36847f80291af\', \'department\': \'Art\', \'gender\': 2, \'id\': 11411, \'job\': \'Production Design\', \'name\': \'Neil Spisak\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f80291b5\', \'department\': \'Art\', \'gender\': 1, \'id\': 15843, \'job\': \'Art Direction\', \'name\': \'Margie Stone McShirley\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f80291bb\', \'department\': \'Costume & Make-Up\', \'gender\': 1, \'id\': 8527, \'job\': \'Costume Design\', \'name\': \'Deborah Lynn Scott\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f80291cd\', \'department\': \'Sound\', \'gender\': 2, \'id\': 1305, \'job\': \'Music Editor\', \'name\': \'Bill Abbott\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f80291d3\', \'department\': \'Sound\', \'gender\': 0, \'id\': 14765, \'job\': \'Supervising Sound Editor\', \'name\': \'Per Hallberg\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f80291d9\', \'department\': \'Crew\', \'gender\': 0, \'id\': 15847, \'job\': \'Special Effects Coordinator\', \'name\': \'Terry D. Frazee\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f80291df\', \'department\': \'Crew\', \'gender\': 0, \'id\': 15848, \'job\': \'Special Effects\', \'name\': \'Paul H. Haines Jr.\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f80291e5\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 15849, \'job\': \'Visual Effects Supervisor\', \'name\': \'Neil Krepela\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f80291eb\', \'department\': \'Crew\', \'gender\': 2, \'id\': 13458, \'job\': \'Stunt Coordinator\', \'name\': \'Joel Kramer\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f80291f1\', \'department\': \'Crew\', \'gender\': 2, \'id\': 15850, \'job\': \'Stunts\', \'name\': \'Tony Brubaker\', \'profile_path\': None}, {\'credit_id\': \'52fe4292c3a36847f8029233\', \'department\': \'Art\', \'gender\': 1, \'id\': 13677, \'job\': \'Set Decoration\', \'name\': \'Anne H. Ahrens\', \'profile_path\': None}, {\'credit_id\': \'564717adc3a3682611002c07\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1535950, \'job\': \'Costume Supervisor\', \'name\': \'Darryl M. Athons\', \'profile_path\': None}, {\'credit_id\': \'564717d0c3a3682620002d27\', \'department\': \'Directing\', \'gender\': 1, \'id\': 1478953, \'job\': \'Script Supervisor\', \'name\': \'Cate Hardman\', \'profile_path\': None}, {\'credit_id\': \'56bf68e39251417359008e89\', \'department\': \'Production\', \'gender\': 0, \'id\': 1424046, \'job\': \'Casting\', \'name\': \'Jane Brody\', \'profile_path\': None}, {\'credit_id\': \'57190686c3a3680160004721\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1550830, \'job\': \'Special Effects\', \'name\': \'Donald Frazee\', \'profile_path\': None}, {\'credit_id\': \'564716d9c3a368260c002d5a\', \'department\': \'Art\', \'gender\': 0, \'id\': 1479277, \'job\': \'Art Department Coordinator\', \'name\': \'Oscar Mazzola\', \'profile_path\': None}, {\'credit_id\': \'564716fe9251413acc002d2a\', \'department\': \'Art\', \'gender\': 0, \'id\': 4727, \'job\': \'Assistant Art Director\', \'name\': \'Dianne Wager\', \'profile_path\': None}, {\'credit_id\': \'56471718c3a3682605002c62\', \'department\': \'Art\', \'gender\': 0, \'id\': 1404308, \'job\': \'Construction Coordinator\', \'name\': \'Anthony Lattanzio\', \'profile_path\': None}, {\'credit_id\': \'564717949251413e7f002a36\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1535949, \'job\': \'Assistant Costume Designer\', \'name\': \'David Le Vey\', \'profile_path\': None}, {\'credit_id\': \'564717f19251413adb002c49\', \'department\': \'Costume & Make-Up\', \'gender\': 2, \'id\': 8870, \'job\': \'Hairstylist\', \'name\': \'Leonard Engelman\', \'profile_path\': None}, {\'credit_id\': \'5647180a9251413adb002c52\', \'department\': \'Costume & Make-Up\', \'gender\': 1, \'id\': 16551, \'job\': \'Hairstylist\', \'name\': \'Ilona Herman\', \'profile_path\': None}, {\'credit_id\': \'56471821c3a3682611002c1e\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 15846, \'job\': \'Key Hair Stylist\', \'name\': \'Vera Mitchell\', \'profile_path\': None}, {\'credit_id\': \'5647183bc3a3682611002c24\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 15845, \'job\': \'Makeup Artist\', \'name\': \'John Caglione Jr.\', \'profile_path\': None}, {\'credit_id\': \'5647184fc3a3682611002c2a\', \'department\': \'Costume & Make-Up\', \'gender\': 2, \'id\': 14653, \'job\': \'Makeup Artist\', \'name\': \'Ken Diaz\', \'profile_path\': \'/evDWsHoxnKp5saXTjVOMFXJnX3O.jpg\'}, {\'credit_id\': \'5647188ac3a36826140030aa\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1535951, \'job\': \'Dialogue Editor\', \'name\': \'Neal J. Anderson\', \'profile_path\': None}, {\'credit_id\': \'564718bfc3a3682608002d5c\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1391385, \'job\': \'Dialogue Editor\', \'name\': \'Duncan Burns\', \'profile_path\': None}, {\'credit_id\': \'564718da9251413e7f002a7d\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1406826, \'job\': \'Dialogue Editor\', \'name\': \'Hector C. Gika\', \'profile_path\': None}, {\'credit_id\': \'564719199251413ad5002d09\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1392084, \'job\': \'Supervising Sound Editor\', \'name\': \'Larry Kemp\', \'profile_path\': None}, {\'credit_id\': \'56471941c3a3682620002d64\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1392901, \'job\': \'Dialogue Editor\', \'name\': \'Lauren Stephens\', \'profile_path\': None}, {\'credit_id\': \'5647197fc3a3682608002d90\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1409831, \'job\': \'Camera Operator\', \'name\': \'Gary Jay\', \'profile_path\': None}, {\'credit_id\': \'564719a9c3a3682608002d95\', \'department\': \'Camera\', \'gender\': 2, \'id\': 21118, \'job\': \'Steadicam Operator\', \'name\': \'James Muro\', \'profile_path\': None}, {\'credit_id\': \'564719bfc3a3682620002d79\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1412205, \'job\': \'Still Photographer\', \'name\': \'Frank Connor\', \'profile_path\': None}, {\'credit_id\': \'564719dec3a368261a002d54\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1403479, \'job\': \'First Assistant Camera\', \'name\': \'Duane Manwiller\', \'profile_path\': None}, {\'credit_id\': \'564719f4c3a3682620002d82\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1347763, \'job\': \'First Assistant Camera\', \'name\': \'Chris Moseley\', \'profile_path\': None}, {\'credit_id\': \'56471a16c3a3682611002c82\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1415635, \'job\': \'Rigging Gaffer\', \'name\': \'Frank Dorowsky\', \'profile_path\': None}, {\'credit_id\': \'5661581a925141790f0068fd\', \'department\': \'Sound\', \'gender\': 2, \'id\': 1406905, \'job\': \'Music Editor\', \'name\': \'Michael Connell\', \'profile_path\': None}, {\'credit_id\': \'56615839c3a36875f4006418\', \'department\': \'Sound\', \'gender\': 2, \'id\': 75002, \'job\': \'Music Supervisor\', \'name\': \'Budd Carr\', \'profile_path\': None}, {\'credit_id\': \'566158b5c3a36875e2006961\', \'department\': \'Editing\', \'gender\': 0, \'id\': 60592, \'job\': \'First Assistant Editor\', \'name\': \'Matthew Booth\', \'profile_path\': None}, {\'credit_id\': \'566158dfc3a36875e2006968\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1433743, \'job\': \'First Assistant Editor\', \'name\': \'Vicki Hiatt\', \'profile_path\': None}, {\'credit_id\': \'56615906c3a36875ed006116\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1405208, \'job\': \'First Assistant Editor\', \'name\': \'Thomas R. Bryant\', \'profile_path\': None}, {\'credit_id\': \'566159209251417918006451\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1432026, \'job\': \'First Assistant Editor\', \'name\': \'Ray Boniker\', \'profile_path\': None}, {\'credit_id\': \'5661595f925141790c00648d\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1401687, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Anna Behlmer\', \'profile_path\': None}, {\'credit_id\': \'566159a4c3a36875e0007279\', \'department\': \'Sound\', \'gender\': 0, \'id\': 16177, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Ron Bartlett\', \'profile_path\': None}, {\'credit_id\': \'566159c9c3a36875e2006994\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1368864, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Chris Jenkins\', \'profile_path\': None}, {\'credit_id\': \'566159f1c3a36875ed00613e\', \'department\': \'Sound\', \'gender\': 2, \'id\': 1338976, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Andy Nelson\', \'profile_path\': None}, {\'credit_id\': \'56615a69925141791800649a\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1544638, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Mark Smith\', \'profile_path\': None}, {\'credit_id\': \'56be7b5cc3a36817f400542a\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1576553, \'job\': \'Stunts\', \'name\': "Daniel O\'Haco", \'profile_path\': None}, {\'credit_id\': \'56be7f199251417347005171\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1457709, \'job\': \'Technical Supervisor\', \'name\': \'Mick Gould\', \'profile_path\': \'/6BcVGV4fUITs2jaThbOq4GHlAFU.jpg\'}, {\'credit_id\': \'56be8150925141734d00530c\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1576562, \'job\': \'Stunts\', \'name\': \'Tim Werner\', \'profile_path\': None}, {\'credit_id\': \'56bf6596c3a368180a009a90\', \'department\': \'Production\', \'gender\': 2, \'id\': 639, \'job\': \'Executive Producer\', \'name\': \'Pieter Jan Brugge\', \'profile_path\': \'/wSaIhLLvLSxxgOPugUx7M8ZBpD8.jpg\'}, {\'credit_id\': \'56bf65ba92514170aa002b1c\', \'department\': \'Production\', \'gender\': 0, \'id\': 944682, \'job\': \'Associate Producer\', \'name\': \'Gusmano Cesaretti\', \'profile_path\': None}, {\'credit_id\': \'56bf65e09251410bb0000d9f\', \'department\': \'Production\', \'gender\': 2, \'id\': 376, \'job\': \'Executive Producer\', \'name\': \'Arnon Milchan\', \'profile_path\': \'/5crR5twLRcIdvRR06dB1O0EQ8x0.jpg\'}, {\'credit_id\': \'56bf6743c3a3681806008963\', \'department\': \'Production\', \'gender\': 0, \'id\': 1494667, \'job\': \'Unit Production Manager\', \'name\': \'Christopher Cronyn\', \'profile_path\': None}, {\'credit_id\': \'56bf67ab92514170aa002b87\', \'department\': \'Directing\', \'gender\': 0, \'id\': 212137, \'job\': \'Assistant Director\', \'name\': \'Michael Waxman\', \'profile_path\': None}, {\'credit_id\': \'56bf6812c3a36817fd0089a0\', \'department\': \'Production\', \'gender\': 0, \'id\': 1535952, \'job\': \'Casting Associate\', \'name\': \'Alison E. McBryde\', \'profile_path\': None}, {\'credit_id\': \'56ddc252925141187c00009b\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1392142, \'job\': \'Set Costumer\', \'name\': \'Marsha Bozeman\', \'profile_path\': None}, {\'credit_id\': \'56e066a2c3a3687492004ab5\', \'department\': \'Crew\', \'gender\': 0, \'id\': 548451, \'job\': \'Digital Effects Supervisor\', \'name\': \'Jeff Wells\', \'profile_path\': None}, {\'credit_id\': \'56e76b15c3a368408c000bf5\', \'department\': \'Crew\', \'gender\': 0, \'id\': 142157, \'job\': \'Stunts\', \'name\': \'Doug Coleman\', \'profile_path\': None}, {\'credit_id\': \'574f16349251415c9b0000b4\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1629423, \'job\': \'Sound Recordist\', \'name\': \'Philip Rogers\', \'profile_path\': None}, {\'credit_id\': \'587d05e1925141410100ffb1\', \'department\': \'Sound\', \'gender\': 0, \'id\': 15178, \'job\': \'Additional Soundtrack\', \'name\': \'Jimmy Webb\', \'profile_path\': \'/hWNr6XzL5TiAkr93eVFSbILhVYr.jpg\'}]'

In [459]:
movies["crew"] = movies["crew"].apply(lambda x: ast.literal_eval(x.replace("\\'", "'")) if isinstance(x, str) else x)

In [462]:
def director(obj):
    if isinstance(obj, str):
        try:
            obj = ast.literal_eval(obj)
        except ValueError:
            return None
    if isinstance(obj, list):
        L = []
        for i in obj:
            if(i['job'] == 'Director' ):
                L.append(i["name"])
                break
        return L
    return obj

In [463]:
movies["crew"]=movies["crew"].apply(director)

In [464]:
movies["crew"]

0          [Michael Mann]
1        [Sydney Pollack]
2       [Martin Campbell]
3          [Renny Harlin]
4       [Martin Scorsese]
              ...
3364     [Terence Fisher]
3365    [Vera Storozheva]
3366      [Sergey Ivanov]
3367        [Jia Zhangke]
3368     [Georges Méliès]
Name: crew, Length: 3337, dtype: object

In [465]:
movies["overview"]=movies["overview"].apply(lambda x:x.split())

In [466]:
movies["overview"]

0       [Obsessive, master, thief,, Neil, McCauley, le...
1       [An, ugly, duckling, having, undergone, a, rem...
2       [James, Bond, must, unmask, the, mysterious, h...
3       [Morgan, Adams, and, her, slave,, William, Sha...
4       [The, life, of, the, gambling, paradise, –, La...
                              ...
3364    [A, deformed, tormented, girl, drowns, herself...
3365    [Plucked, from, an, orphanage, as, a, literal,...
3366    [Masha, Krapivina, -, is, yet, beautiful,, and...
3367    [Little, pocket, thief, Wu, never, got, away, ...
3368    [A, band-leader, has, arranged, seven, chairs,...
Name: overview, Length: 3337, dtype: object

In [468]:
movies

,imdb_id,id,title,overview,genres,cast,crew
0,tt0113277,949,Heat,"[Obsessive, master, thief,, Neil, McCauley, le...","[Action, Crime, Drama, Thriller]","[{'cast_id': 25, 'character': 'Lt. Vincent Han...",[Michael Mann]
1,tt0114319,11860,Sabrina,"[An, ugly, duckling, having, undergone, a, rem...","[Comedy, Romance]","[{'cast_id': 1, 'character': 'Linus Larrabee',...",[Sydney Pollack]
2,tt0113189,710,GoldenEye,"[James, Bond, must, unmask, the, mysterious, h...","[Adventure, Action, Thriller]","[{'cast_id': 1, 'character': 'James Bond', 'cr...",[Martin Campbell]
3,tt0112760,1408,Cutthroat Island,"[Morgan, Adams, and, her, slave,, William, Sha...","[Action, Adventure]","[{'cast_id': 1, 'character': 'Morgan Adams', '...",[Renny Harlin]
4,tt0112641,524,Casino,"[The, life, of, the, gambling, paradise, –, La...","[Drama, Crime]","[{'cast_id': 4, 'character': 'Sam 'Ace' Rothst...",[Martin Scorsese]
...,...,...,...,...,...,...,...
3364,tt0061683,3104,Frankenstein Created Woman,"[A, deformed, tormented, girl, drowns, herself...","[Horror, Science Fiction]","[{'cast_id': 9, 'character': 'Baron Frankenste...",[Terence Fisher]
3365,tt1047845,64197,Travelling with Pets,"[Plucked, from, an, orphanage, as, a, literal,...","[Romance, Drama]","[{'cast_id': 2, 'character': 'Sergei', 'credit...",[Vera Storozheva]
3366,tt2147597,98604,Cinderella,"[Masha, Krapivina, -, is, yet, beautiful,, and...","[Comedy, Romance]","[{'cast_id': 1001, 'character': 'Masha', 'cred...",[Sergey Ivanov]
3367,tt0144020,52103,Pickpocket,"[Little, pocket, thief, Wu, never, got, away, ...","[Drama, Foreign]","[{'cast_id': 3, 'character': 'Xiao Wu', 'credi...",[Jia Zhangke]
3368,tt0135453,49280,The One-Man Band,"[A, band-leader, has, arranged, seven, chairs,...","[Fantasy, Action, Thriller]","[{'cast_id': 3, 'character': 'All the members ...",[Georges Méliès]

In [469]:
movies["genres"]=movies["genres"].apply(lambda x:[i.replace(" ","") for i in x])
movies["cast"] = movies["cast"].apply(
    lambda x: [d["name"].replace(" ", "") for d in x if "name" in d]
)
movies["crew"]=movies["crew"].apply(lambda x:[i.replace(" ","") for i in x])

In [471]:
movies["cast"]

0       [AlPacino, RobertDeNiro, ValKilmer, JonVoight,...
1       [HarrisonFord, JuliaOrmond, GregKinnear, Angie...
2       [PierceBrosnan, SeanBean, IzabellaScorupco, Fa...
3       [GeenaDavis, MatthewModine, FrankLangella, Mau...
4       [RobertDeNiro, SharonStone, JoePesci, JamesWoo...
                              ...
3364    [PeterCushing, SusanDenberg, ThorleyWalters, R...
3365    [DmitriyDyuzhev, KseniyaKutepova, AnnaMikhalko...
3366    [KristinaAsmus, NikitaEfremov, ArtyomTkachenko...
3367    [HongweiWang, HaoHongjian, BaitaoZuo, MaJinrei...
3368                                      [GeorgesMéliès]
Name: cast, Length: 3337, dtype: object

In [472]:
movies["tags"]= movies["overview"]+movies["genres"]+movies["cast"]+movies["crew"]

In [474]:
movies["tags"].head(4)

0    [Obsessive, master, thief,, Neil, McCauley, le...
1    [An, ugly, duckling, having, undergone, a, rem...
2    [James, Bond, must, unmask, the, mysterious, h...
3    [Morgan, Adams, and, her, slave,, William, Sha...
Name: tags, dtype: object

In [476]:
#imdb_id	id	title	overview	genres	cast	crew
new_df = movies[["imdb_id","id","title","tags"]]

In [477]:
new_df.head(5)

,imdb_id,id,title,tags
0,tt0113277,949,Heat,"[Obsessive, master, thief,, Neil, McCauley, le..."
1,tt0114319,11860,Sabrina,"[An, ugly, duckling, having, undergone, a, rem..."
2,tt0113189,710,GoldenEye,"[James, Bond, must, unmask, the, mysterious, h..."
3,tt0112760,1408,Cutthroat Island,"[Morgan, Adams, and, her, slave,, William, Sha..."
4,tt0112641,524,Casino,"[The, life, of, the, gambling, paradise, –, La..."

In [478]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\lenovo\AppData\Local\Temp\ipykernel_17288\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [479]:
new_df["tags"].head(4)

0    Obsessive master thief, Neil McCauley leads a ...
1    An ugly duckling having undergone a remarkable...
2    James Bond must unmask the mysterious head of ...
3    Morgan Adams and her slave, William Shaw, are ...
Name: tags, dtype: object

In [481]:
new_df["tags"][0]

"Obsessive master thief, Neil McCauley leads a top-notch crew on various insane heists throughout Los Angeles while a mentally unstable detective, Vincent Hanna pursues him without rest. Each man recognizes and respects the ability and the dedication of the other even though they are aware their cat-and-mouse game may end in violence. Action Crime Drama Thriller AlPacino RobertDeNiro ValKilmer JonVoight TomSizemore DianeVenora AmyBrenneman AshleyJudd MykeltiWilliamson NataliePortman TedLevine TomNoonan ToneLoc HankAzaria WesStudi DennisHaysbert DannyTrejo HenryRollins WilliamFichtner KevinGage SusanTraylor JerryTrimble RickyHarris JeremyPiven XanderBerkeley BegonyaPlaza RickAvery HazelleGoodman RayBuktenica MaxDaniels VinceDeadrickJr. StevenFord FarrahForke PatriciaHealy PaulHerman CindyKatz BrianLibby DanMartin MarioRoberts ThomasRosales,Jr. YvonneZima MickGould BudCort VivianeVives KimStaunton MartinFerrero BradBaldridge AndrewCamuccio KennyEndoso KimberlyFlynn NikiHarris BillMcIntosh RickMarzan TerryMiller DanielO'Haco KaiSoremekun PeterBlackwell TrevorCoppola MaryKircher DarinMangan RobertMiranda MannyPerry IvaFranksSinger TimWerner PhilipEttington MichaelMann"

In [483]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower() if isinstance(x, str) else x)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_17288\1683568738.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower() if isinstance(x, str) else x)

In [485]:
new_df.head(2)

,imdb_id,id,title,tags
0,tt0113277,949,Heat,"obsessive master thief, neil mccauley leads a ..."
1,tt0114319,11860,Sabrina,an ugly duckling having undergone a remarkable...

In [486]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [488]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [489]:
new_df["tags"]=new_df["tags"].apply(stem)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_17288\1027202188.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"]=new_df["tags"].apply(stem)

In [491]:
new_df["tags"]

0       obsess master thief, neil mccauley lead a top-...
1       an ugli duckl have undergon a remark change, s...
2       jame bond must unmask the mysteri head of the ...
3       morgan adam and her slave, william shaw, are o...
4       the life of the gambl paradis – la vega – and ...
                              ...
3364    a deform torment girl drown herself after her ...
3365    pluck from an orphanag as a liter love slave, ...
3366    masha krapivina - is yet beautiful, and not th...
3367    littl pocket thief wu never got away from the ...
3368    a band-lead ha arrang seven chair for the memb...
Name: tags, Length: 3337, dtype: object

In [493]:
from sklearn.feature_extraction.text import CountVectorizer

In [690]:
cv = CountVectorizer(max_features=6000,stop_words='english')

In [692]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [694]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [696]:
cv.get_feature_names_out()

array(['000', '10', '100', ..., 'zombi', 'zooeydeschanel', 'zyto'],
      dtype=object)

In [698]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [699]:
similarity

array([[1.        , 0.        , 0.05337605, ..., 0.        , 0.0381108 ,
        0.04481107],
       [0.        , 1.        , 0.        , ..., 0.07905694, 0.12376844,
        0.03880753],
       [0.05337605, 0.        , 1.        , ..., 0.        , 0.        ,
        0.04305308],
       ...,
       [0.        , 0.07905694, 0.        , ..., 1.        , 0.03131121,
        0.        ],
       [0.0381108 , 0.12376844, 0.        , ..., 0.03131121, 1.        ,
        0.07685035],
       [0.04481107, 0.03880753, 0.04305308, ..., 0.        , 0.07685035,
        1.        ]])

In [702]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x:x[1])[1:6]
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [704]:
new_df['title']

0                             Heat
1                          Sabrina
2                        GoldenEye
3                 Cutthroat Island
4                           Casino
                   ...
3364    Frankenstein Created Woman
3365          Travelling with Pets
3366                    Cinderella
3367                    Pickpocket
3368              The One-Man Band
Name: title, Length: 3337, dtype: object

In [706]:
recommend('The Dark Knight')

Dark Horse
Once Were Warriors
Barren Lives
Copying Beethoven
The Beautiful Country